hr {
    border-top: 2px dashed #38536B;
}

/* .form {
    background-color: whitesmoke;
    border-radius: 1%;
} */

/* .app {
 
    color: #4F759B;
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 1%;
    box-shadow: black;
} */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    /* border: 3px solid green; */
}