<div class="app py-4 px-3 ">
    <div class="form p-3">
        <header>
            <h2>Sign Up!</h2>
            <hr/>
        </header>

        <div class="signup-form">
            <form action="">
                <div class="row mb-3">

                    <div class="col">
                        <label class="signup-labels" for="name">Name </label>

                    </div>
                    <div class="col">
                        <input id="name" class="form-control" type="text" name="name" required name="name" [(ngModel)]="name">

                    </div>

                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="signup-labels" for="email-singUp">Email </label>

                    </div>
                    <div class="col">
                        <input id="email-singUp" class="form-control" type="email" name="email" name="email" [(ngModel)]="email" placeholder="example@domain.com" required>

                    </div>

                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="signup-labels " for="password-singUp">Password </label>
                    </div>
                    <div class="col">
                        <input id="password-singUp" class="form-control" type="password" name="password" minlength="8" maxlength="20" required name="password" [(ngModel)]="password">

                    </div>

                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="signup-labels" for="mobile">Phone Number</label>
                    </div>
                    <div class="col">
                        <input id="mobile" type="text" class="form-control" name="mobile" pattern="01[0-9]{9}" minlength="11" maxlength="11" placeholder="ex: 01005001234" name="phone" [(ngModel)]="phone">

                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label class="signup-labels" for="address">Your Address </label>

                    </div>
                    <div class="col">
                        <input id="address" class="form-control" type="text" name=address name="address" [(ngModel)]="address">

                    </div>

                </div>

            </form>
        </div>
    </div>


    <div class="center">
        <button id="place-order-btn" class="btn btn-outline-primary custome-btn mt-2" (click)="onSignUp()">Sign Up</button>
    </div>
</div>