<div class="jumbotron jumbotron-fluid sticky-bottom footer pb-0 pt-3" id="jumbotron">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center py-4">
            <div class="col-4 col-md-3 col-lg-3 col-sm-4">
                <h5>
                    Follow Us
                </h5>
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-3 col-lg-2"> <img class="icon" src="assets/images/facebook.png" alt="" srcset></div>
                    <div class="col-4 col-sm-4 col-md-3 col-lg-2"> <img class="icon" src="assets/images/twitter.png" alt="" srcset=""> </div>
                    <div class="col-4 col-sm-4 col-md-3 col-lg-2 "> <img class="icon" src="assets/images/instagram.png" alt="" srcset=""> </div>
                </div>
            </div>
            <div class="col-4 col-md-3 col-lg-3 col-sm-4">
                <h5>
                    About Us
                </h5>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>
            <div class="col-4 col-md-3 col-lg-3 col-sm-4">
                <h5>
                    Download Our Apps
                </h5>
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-3 col-lg-2"> <img class="icon" src="assets/images/app-store.png" alt="" srcset></div>
                    <div class="col-4 col-sm-4 col-md-3 col-lg-2"> <img class="icon" src="assets/images/google-play.png" alt="" srcset=""> </div>
                </div>
            </div>
        </div>
        <!-- <h1 class="display-5 mb-4">Download Our App Now!</h1>

      <a href="http://www.google.com" target="_blank"> <img class="img-fluid" id="app-store-im" src="./assets/images/app.png" alt=""></a> -->
        <div class="row footer-row text-center d-flex justify-content-center align-items-center py-2">
            <p class="p-0 my-0">2020 Copyright: ©
                <a class="p-0" href=""> BellyFilly.com</a></p>

        </div>

    </div>
</div>